:root {
  --cor-de-fundo: #f5f5f5;
  --cor-de-fundo-menu: #ffffff;
  --cor-de-fundo-sobre: #eaf2fd;
  --cor-do-link: #000000;
  --verde: #b6f8e2;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--cor-de-fundo);
  font-family: "Raleway", sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  line-height: 1.6;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-do-link);
}

/* ------------------------------ Seção Menu -------------------------------*/
.cabecalho {
  background-color: var(--cor-de-fundo-menu);
}

.cabecalho__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1200px;
  margin: auto;
}

.cabecalho__titulo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.2rem;
  text-align: center;
}

.cabecalho__logo {
  width: 1em;
}

.navegacao__lista {
  display: none;
}

.navegacao__elemento a {
  font-size: 0.9rem;
}

.cabecalho__botao {
  background-color: var(--cor-do-link);
  color: var(--cor-de-fundo-menu);
  border-radius: 999px;
  padding: 0.5em 1em;
}

/* ------------------------------ Seção Apresentação ------------------------------*/
.apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  height: 70vh;
}

.apresentacao__foto {
  width: 98px;
}

.apresentacao__conteiner {
  max-width: 768px;
}

.apresentacao__titulo {
  line-height: 1.3em;
  color: #333;
  font-weight: 700;
  padding: 0.3em 0;
}

.apresentacao__subtitulo {
  color: grey;
  font-weight: bold;
}

.redes {
  max-width: 425px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 1em;
  gap: 1em;
}

.redes__elemento a {
  background-color: var(--cor-de-fundo-menu);
  padding: 0.2em 1em;
  border-radius: 1em;

  display: flex;
  align-items: center;
  gap: 0.5em;
  width: max-content;
}

.redes__elemento a:hover {
  border: 1px solid #333;
}

/* ------------------------------ Seção Sobre mim ----------------------------------*/
.sobre-mim {
  background-color: var(--cor-de-fundo-sobre);
  padding: 1em;
}

.sobre-mim__container {
  max-width: 768px;
  margin: auto;
}

.sobre-mim__titulo,
.sobre-mim__texto {
  padding: 0.5em 0;
}

.sobre-mim__texto {
  padding-bottom: 1em;
}

/*------------------------------ Seção de Habilidades ------------------------------*/
.habilidades {
  padding: 1em;
}

.habilidades__titulo {
  text-align: center;
  padding-bottom: 2rem;
}

.habilidades__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.habilidades__elemento {
  background-color: var(--cor-de-fundo-menu);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  width: 7.75rem;
  height: 5.375rem;
  padding: 1rem;
}

/*------------------------------ Seção de Formações --------------------------------*/
.formacao {
  background-color: var(--cor-de-fundo-sobre);
  padding: 1rem;
}

.formacao__titulo {
  text-align: center;
  padding-bottom: 1em;
}

.formacao__lista {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.formacao__icone {
  border-radius: 1em;
}

.formacao__detalhe {
  padding-bottom: 0.5em;
}

/*------------------------------ Seção de Projetos --------------------------------*/
.projetos {
  padding: 1em;
}

.projetos__titulo {
  text-align: center;
  padding-bottom: 1em;
}

.projetos__conteiner {
  margin: auto;
  padding: 1em;
}

.projetos__imagem {
  border-radius: 0.5em;
  width: 100%;
}

.projetos__descricao {
  padding: 0.5em 0;
}

.projetos__botoes {
  display: flex;
  align-items: center;
  gap: 1em;
}

.projetos__botao:nth-child(1),
.projetos__botao:nth-child(2) {
  border: none;
  border-radius: 999px;
  padding: 0.5em 1em;
}

.projetos__botao:nth-child(1) {
  border: 1px solid blue;
  color: blue;
}

.projetos__botao:nth-child(2) {
  background-color: blue;
  color: #fff;
}

/*------------------------------ Seção de Contato ---------------------------------*/
.contato {
  background-color: var(--cor-de-fundo-sobre);
  padding: 1em;
}

.contato__titulo {
  text-align: center;
  padding: 1em 0;
}

.contato__formulario {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.contato__campo {
  background-color: var(--cor-de-fundo-menu);
  border: none;
  padding: 1em;
  border-radius: 1em;
}

.contato__botao {
  cursor: pointer;
  background-color: var(--verde);
  font-weight: 600;
  border: none;
  padding: 1em;
  border-radius: 2em;
}

/* ------------------------------ Seção de Cabeçalho ---------------------------------------*/
.cabeçalho {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 1em;
}

.cabeçalho__texto {
  padding: 0.5em;
}

/* ------------------------------ Responsividade ---------------------------------------*/

/* Tablets e telas maiores */
@media (min-width: 768px) {
  .cabecalho {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .cabecalho__logo {
    max-width: 100px;
  }

  .cabecalho__titulo {
    font-size: 1.5rem;
  }

  .navegacao__lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 0;
  }

  .navegacao__elemento a {
    font-size: 1rem;
  }

  .cabecalho__botao {
    padding: 0.5em 1.5em;
  }

  .apresentacao,
  .sobre-mim,
  .habilidades,
  .formacao {
    font-size: 1.2em;
    padding: 2rem;
  }

  .apresentacao {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .apresentacao__foto {
    width: 146px;
  }

  .apresentacao__titulo {
    font-size: 2rem;
  }

  .apresentacao__subtitulo {
    font-size: 1.3rem;
  }

  .redes {
    flex-direction: row;
  }

  .projetos__conteiner {
    max-width: 1136px;
  }

  .projetos__imagem {
    max-width: 750px;
  }
}

/* Telas grandes */
@media (min-width: 1024px) {
  /* Aqui você pode ajustar ainda mais o design para telas grandes */
  h2 {
    font-size: 2em;
  }

  .cabecalho__titulo {
    font-size: 1.8rem;
  }

  .navegacao__elemento a {
    font-size: 1.1rem;
  }

  .apresentacao__titulo {
    font-size: 3.25rem;
  }
  
  .projetos__conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding: 2em;
  }

  .projetos__conteiner:nth-child(3) {
    flex-direction: row-reverse;
  }

  .projetos__imagem {
    width: 425px;
  }

  .projetos__nome {
    font-size: 2em;
  }

  .projetos__descricao {
    font-size: 1.5em;
  }
}
