@charset "UTF-8";

/* Typical Device Breakpoints
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (max-width: 600px) {
    header {
        padding: 10px 20px;
    }

    header nav {
        display: none;
    }

    #home .home-container > h1{
        font-size: 5em;
    }

    #sobre {
        padding: 100px 20px;
        text-align: left;
    }

    section.projetos > div .container-img > img {
        width: 100%;
    }
}

/* Pequenas Telas */
@media screen and (min-width: 600px) {
    header > menu {
        display: none;
    }

    section.projetos > div .container-img > img {
        width: 300px;
        height: 186.88px;
    }
}

/* Celular */
@media screen and (min-width: 768px) {
    section.home {
        font-size: 1.8em;
    }

    section.sobre {
        font-size: 1em;
    }

    #projetos > div .container-img {
        width: 350px;
    }
}

/* Tablet */
@media screen and (min-width: 992px) {
    section.sobre {
        font-size: 1.2em;
    }

    #projetos > div .container-img {
        width: 400px;
    }
}

/* Navbar */
@media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 10vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: white;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  
    .nav-list.active {
      transform: translateX(0);
    }
  }

/* Desktop */
@media screen and (min-width: 1200px) {
    section.sobre {
        font-size: 1.3em;
    }
}

/* Grandes Telas */
@media screen and (min-width: 1500px) {
    header nav {
        max-width: 1200px;
        margin: auto;
    }

    section.sobre {
        font-size: 1.5em;
    }

    #projetos > div .container-img {
        width: 500px;
    }
}