@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


:root {

    /* Paleta de cores */
    --cor1: #243E56;
    --cor2: #385FFC;
    --cor3: #574ABD;
    --cor4: #8CA2FC;
    --cor5: #38DBFC;
    --cor6: #8F38FC;

    /* Fontes */
    --Poppins:"Poppins", sans-serif;
    --Roboto: "Roboto", sans-serif;
    --Open-Sans: "Open Sans", sans-serif;
    --Lato: "Lato", sans-serif;
    --Montserrat: "Montserrat", sans-serif;
}

/* Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  
html, body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


/* header */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    color: #3949AB;
    padding: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: 1;
}

header nav {
    display: flex;
    align-items: center;
}

header nav.active {
    display: block;
    position: fixed;
    top: 70px;
    right: 0;
    background-color: white;
    height: 300px;
    border-radius: 20px;
    width: 200px;
}

header nav.active ul {
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

header nav > a {
    text-decoration: none;
    color: white;
    font-family: var(--Roboto);
    padding: 8px 20px;
    border-radius: 20px;
    background-color: #3949AB;
} 

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: blue;
    border-bottom: 5px solid blue;
}

header menu {
    color: black;
    cursor: pointer;
}


/* Pagina Inicial */
#home {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(../img/bk-gradient.jpg) no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: var(--Roboto);
    
}

#home .home-container >  h1 {
    line-height: 1em;
    color: #1C0051;
    font-size: 7em;
    
    font-weight: 900;
}

#home .home-container > p {
    font-weight: bold;
    padding: 0 10px;
    color: #656ECB;
    font-size: 1.2em;
    font-family: var(--Poppins);
}

#home .home-container > .links {
    padding-inline: 10px;
}

#home .home-container > .links a {
    display: inline-block;
}

#home .home-container > .links a:hover {
    transform: scale(1.1);
    background-color: #b9bfff;
    border-radius: 5px;
}


/* Sobre */
#sobre {
    padding: 100px 50px;
    text-align: cente;
    border-top: 5px solid var(--cor3);
    font-size: 1.5em;
}

#sobre h2 {
    text-align: center;
    font-size: 2em;
    color: var(--cor3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.444);
} 

#sobre p {
    max-width: 600px;
    padding: 20px 0;
    font-weight: normal;
    margin: auto;
}


/* Projetos */
#projetos {
    background-color: var(--cor4);
    color: white;
    padding: 1em 20px;
    font-size: 3em;
    font-family: var(--Poppins);
}

#projetos > button {
    cursor: pointer;
    background-color: var(--cor3);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--cor3);
    box-shadow: 1px 1px 0px black;
}

#projetos > h2 {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.444);
    width: max-content;
    border-bottom: 5px solid blue;
    font-size: 0.7em;
}

#projetos > .flex {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
}

#projetos .div {
    padding: 20px;
    border: 2px solid var(--cor3);
    border-radius: 10px;
    box-shadow: 1px 1px 0px var(--cor3);
    background-color: white;
    color: black;
}

#projetos > div .container-img {
    position: relative;
    margin-top: 20px;
    border: 2px solid var(--cor3);
    width: 300px;
    overflow: hidden;
    padding-top: 56.25%; /* Proporção 16:9 */
}

#projetos > div .container-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#projetos > div p {
    position: relative;
    top: 20px;
    font-size: 0.5em;
    font-weight: bold;
}

#projetos > div a {
    color: white;
    background-color: var(--cor3);
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.4em;
}

#projetos > div a i {
    font-weight: bold;
    position: relative;
    top: 5px;
    left: -5px;
}

#projetos > div a:hover {
    color: darkblue;
}


/* Skils */
#skils {
    background-color: #1A237E;
    padding: 50px 0;
    text-align: center;
    color: white;
    font-weight: bold;
}

#skils h2 {
    font-family: var(--Poppins);
    font-size: 2em;
    padding-top: 50px;
    margin-bottom: 20px;
}

#skils .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px 20px;
    padding-bottom: 50px;
    justify-content: center;
}

#skils .box {
    background-color: #243E56;
    border-bottom: 4px #8F38FC solid;
    width: 12rem;
    padding: 10px;
    width: max-content;
}

/* Contato */
#contato {
    background-color: var(--cor6);
    color: white;
    font-size: 1.4em;
    font-family: var(--Poppins);
    font-weight: bold;
    padding: 100px 0;
    text-align: center;
}

#contato h2 {
    padding: 20px;
}

#contato p {
    padding: 10px;
}

a {
    color: blue;
}

a:hover {
    color: yellow;
}


/* Foooter */
footer {
    background-color: var(--cor2);
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    bottom: 0;
}