@charset "UFT-8";

@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap");

:root {
  /* Paleta de cores */
  --cor1: #243e56;
  --cor2: #385ffc;
  --cor3: #574abd;
  --cor4: #5a5b61;
  --cor5: #38dbfc;
  --cor6: #8f38fc;

  /* Fontes */
  --Poppins: "Poppins", sans-serif;
  --Roboto: Roboto, sans-serif;
  --Open-Sans: "Open Sans", sans-serif;
  --Baloo-Paaji-2: "Baloo Paaji 2", sans-serif;
}

/* Gerais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 0.7rem;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--cor3);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--cor6);
  }
}

/* end */

/* estilos section home */
.home {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(../img/header.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.home .overlay {
  padding: 20px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgb(255, 255, 255) 0%,
    rgba(105, 90, 166, 0.35) 99%,
    rgba(105, 90, 166, 0.5) 100%
  );
}

.home .home-container {
  margin: auto;
}

.home .home-container > h1 {
  /* clamp => min, ideal, max */
  font-size: clamp(60px, 8vw, 90px);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  line-height: 1.1;
  margin: auto;
  font-family: var(--Baloo-Paaji-2);
}

.home .home-container > h1 .up {
  color: #5a5b61;
  font-weight: 800;
}
.home .home-container > h1 .down {
  color: #363a40;
  font-weight: bolder;
}

.home .home-container > p {
  line-height: 1.2;
  color: #1c0051;
  padding-bottom: 25px;
  font-size: clamp(16px, 2vw, 25px);
  font-family: var(--Open-Sans);
  font-weight: lighter;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: calc(1px + (7 - 1) * ((100vw - 300px) / (1300 - 300)));
}

.home .home-container > .links {
  display: flex;
}

.home .home-container > .links a {
  width: 55px;
  height: 55px;
  padding: 5px;
  border-radius: 50%;
  overflow: hidden;
  transition-duration: 0.3s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.home .home-container > .links a:hover {
  transform: scale(1.1);
  background-color: #b9bfff;
}
/* end */

/* estilos section sobre */
.sobre {
  text-align: center;
  font-size: clamp(20px, 3vw, 30px);
  font-family: var(--Open-Sans);
  background-color: #fff;
  padding: 50px 20px;
  background-size: 30px 30px;
  background-position: -5px -5px;
}

.sobre .container {
  margin: auto;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: 1s ease-in-out;
  display: flex;
  flex-direction: column;
}

.sobre .container span {
  font-weight: bold;
  font-family: var(--Baloo-Paaji-2);
  margin-top: 10px;
  color: #574abd;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  display: block;
  font-size: clamp(30px, 3vw, 40px);
}

.sobre .container .info {
  max-width: 600px;
  font-weight: 400;
  color: black;
  display: block;
  text-align: center;
  font-size: 0.72em;
  padding: 1em;
  margin: auto;
}

.sobre .container .img {
  width: 4.8em;
  height: 4.8em;
  background: url(../img/foto-de-perfil.png);
  background-size: contain;
  border-radius: 50%;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.sobre .container .card {
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
}

.sobre .container .socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.sobre .container .containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
/* linkedin*/
.sobre .container .containerTwo:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}
/* github*/
.sobre .container .containerThree:hover {
  background-color: gray;
  transition-duration: 0.3s;
}

.sobre .container .socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.sobre .container .socialSvg {
  width: 17px;
}

.sobre .container .socialSvg path {
  fill: rgb(255, 255, 255);
}

.sobre .container .socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* end */

/* estilos section portifolio */
.portifolio {
  padding: 20px;
  font-family: var(--Baloo-Paaji-2);
}

.portifolio h2 {
  padding: 30px 20px;
  font-weight: 900;
  font-size: clamp(30px, 3vw, 40px);
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin: auto;
}

.portifolio .flex {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
}

.portifolio .flex .card {
  position: relative;
  width: 500px;
  aspect-ratio: 16/9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portifolio .flex #card1 {
  background: url(../img/projeto-android.png) no-repeat;
  background-size: cover;
}
.portifolio .flex #card2 {
  background: url(../img/projeto-social.png) no-repeat;
  background-size: cover;
}
.portifolio .flex #card3 {
  background: url(../img/projeto-login.png) no-repeat;
  background-size: cover;
}
.portifolio .flex #card4 {
  background: url(../img/projeto-cordel.png) no-repeat;
  background-size: cover;
}

.portifolio .flex #card5 {
  background: url(../img/projeto-link-bio.png) no-repeat;
  background-size: cover;
}

.portifolio .flex #card6 {
  background: url(../img/hotburger.png) no-repeat;
  background-size: cover;
}


.portifolio .flex .card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portifolio .flex .card__image {
  width: 100%;
  height: 100%;
}

.portifolio .flex .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.portifolio .flex .card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.portifolio .flex .card:hover .card__content {
  transform: rotateX(0deg);
}

.portifolio .flex .card__title {
  margin: 0;
  font-size: 25px;
  font-family: var(--Baloo-Paaji-2);
  color: var(--cor3);
  font-weight: 700;
}

.portifolio .flex .card:hover svg {
  scale: 0;
}

.portifolio .flex .card__description {
  margin: 5px 0 20px;
  font-size: 16px;
  font-family: var(--Roboto);
  color: #777;
  line-height: 1.4;
}

.portifolio .flex .card__button {
  padding: 10px;
  border-radius: 25px;
  background: var(--cor3);
  border: none;
  font-family: var(--Open-Sans);
  color: white;
}

.portifolio .flex .card__button a {
  color: white;
}

.portifolio .flex .secondary {
  background: transparent;
  border: 1px solid #777;
}

.portifolio .flex .secondary a {
  color: #777;
}

.portifolio .btn {
  --color: #574abd;
  --color2: #fff;
  max-width: 500px;
  text-align: center;
  margin: 20px auto;
  display: block;
  padding: 0.8em 1.75em;
  background-color: transparent;
  border-radius: 25px;
  border: 0.3px solid var(--color);
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  font-size: 17px;
  font-family: var(--Roboto);
  text-transform: uppercase;
  color: var(--color);
}

.portifolio .btn::after,
.btn::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: 0.5s ease-out;
  background-color: var(--color);
}
.portifolio .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
.portifolio .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
.portifolio .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}
.portifolio .btn:hover {
  color: var(--color2);
}
.portifolio .btn:active {
  filter: brightness(0.7);
  transform: scale(0.98);
}
/* end */

/* estilos section skils */
.skills {
  padding: 20px;
  padding-bottom: 100px;
}

.skills h2 {
  font-family: var(--Baloo-Paaji-2);
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: clamp(30px, 3vw, 40px);
  padding: 30px 20px;
}

.skills .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 0px;
  justify-content: center;
}

.skills .box-item {
  color: #fff;
  text-align: center;
  background-color: #333;
  border-bottom: 4px var(--cor3) solid;
  border-radius: 5px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  width: 7rem;
  padding: 10px;
}

.skills .box-item:hover {
  transition: all 500ms ease-out;
  transform: scale(1.05);
}

.skills .box-item p {
  padding-bottom: 10px;
}
/* end */

/* estilos section contato */
.contato {
  background-color: #191B1C;
  color: white;
  font-size: clamp(20px, 2vw, 40px);
  font-weight: 600;
  padding: 20px;
  padding-bottom: 50px;
}

.contato h2 {
  font-family: var(--Baloo-Paaji-2);
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
}

a {
  color: blue;
}

.contato .login-box {
  max-width: 500px;
  margin: auto;
}

.form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
}

.form label {
  color: #fff;
  line-height: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: var(--Roboto);
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.015);
  transition: border-color, box-shadow 0.2s;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: #09d;
  box-shadow: 0 0 0 3px #4dc8ff;
}

.form button {
  display: block;
  padding: 1rem;
  background: #fff;
  color: #000;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.015);
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: #09d;
}
/* end */

/* estilos rodapé */
.footer {
  background-color: #191B1C;
  /* background-color: #574abd; */
  color: #fff;
  padding: 30px 20px;
text-align: center;

}

.footer nav {
  font-size: 20px;
  padding: 50px 0px;

  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer nav a {
  color: white;
}

.footer .icons {
  padding-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}

.footer .icons-item {
  font-size: 30px;
  color: #fff;
}

.footer .icons-item:hover, .footer nav a:hover {
  color: #8257e6;
}

.footer p {
  width: 100%;
  font-family: var(--Roboto);
  background-color: #121212;
  padding: 20px;
  border-radius: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
/* end */
