@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    /* Paleta de cores */
    --cor1: #243E56;
    --cor2: #385FFC;
    --cor3: #574ABD;
    --cor4: #8CA2FC;
    --cor5: #38DBFC;
    --cor6: #8F38FC;

    /* Fontes */
    --font1:"Poppins", sans-serif;
}

/* Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar {
    display: non;
}

/* Estilo para navegadores baseados no WebKit */
body::-webkit-scrollbar {
    width: 16px; /* Largura da barra de rolagem */
    height: 16px; /* Altura da barra de rolagem horizontal */
}
  
body::-webkit-scrollbar-track {
    background-color: transparent; /* Gradiente para o track */
    border-radius: 10px; /* Bordas arredondadas */
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--cor3); /* Cor do polegar */
    border: 1px solid rgba(255, 255, 255, 0.8); /* Cor de borda para polegar */
}
  
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--cor4); /* Cor do polegar quando em hover */
}

  
html, body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--cor2);
}


/* Outros */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor2);
    padding: 3em 0;
    padding-inline: 6em;
}

header > .logo img, header > .menu-icon{
    width: 50px; 
    background: none;
    cursor: pointer; 
    border: none;
    z-index: 1;
}

header > .menu-icon .close {
    display: none;
}

header nav {
    display: none;
}

header nav.active {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    animation: scrol 1.3s ease-out;
}

header .nav-list {
    background-color: rgba(87, 74, 189, 0.8);
    backdrop-filter: blur(20px);
    display: flex;
    text-align: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
    list-style: none;
}

.nav-list li a {
    font-size: 1.3em;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.nav-list li a:hover {
    transform: scale(2.0);
    color: rgba(255, 255, 255, 0.7);
    background-color: var(--cor2);
}

/* Sections */
section.home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--cor2);
    color: white;
    padding: 10em 0;
}

section.home img:hover, section.sobre img:hover {
    transform: scale(1.05);
    transition: 0.3s ease-out;
}

section.home .texto > h1 {
    padding-inline: 2em;
    font-size: 5em;
    color: var(--cor5);
}

section.home .texto > p {
    padding-inline: 6.7em;
    font-family: var(--font1);
    font-size: 1.5em;
    font-weight: bold;
}

section.home .texto > .icons{
    display: flex;
    gap: 10px;
    width: 100px;
    margin-top: 1em;
    margin-left: 10em;
    
}

section.home .texto > .icons a {
    width: 100px;
}

section.home .texto > .icons a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

section.sobre {
    background-color: rgba(255, 255, 255, 0.8);
}

section.sobre > .content {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    max-width: 1050px;
    border-radius: 1em;
    padding: 1em;
    margin: auto;
}

section.sobre img {
    width: 300px;
    height: 300px;
    margin: auto;
    padding: 1em;
}

section.sobre .texto {
    max-width: 500px;
    margin: auto;
    flex: 1;
}

section.sobre .texto > h2 {
    font-weight: bold;
    text-align: center;
    color: var(--cor2);
    padding: 1.0em;
    padding-bottom: 0.4em;
    font-size: 2.5em;
    font-family: var(--font1);
}

section.sobre .texto > p {
    font-size: 1.5em;
    font-weight: normal;
    font-family: var(--font1);
    padding-inline: 1em;
    padding-bottom: 2em;
}

section.skils {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    padding-top: 3em;
    justify-content: center;
    background-color: var(--cor2);
    margin: auto;
}

section .skils-item {
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 1em;
}

section.skils svg {
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 5px;
    width: 64px;
}

section.skils h2 {
    padding: 5px;
    color: var(--cor1);
}

section.skils p {
    padding: 5px;
    color: var(--cor2);
    font-weight: bolder;
}

section.projetos {
    padding: 1em;
    font-size: 2em;
    color: var(--cor5);
    background-color: var(--cor2);
}

section.projetos > h2 {
    text-align: center;
    padding: 1em;
}

section.projetos > picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 2em;
    color: transparent;
}

section.projetos > picture a {
    color: transparent;  
}

section.projetos > picture a img {
    width: 100%;
    border-radius: 0.5em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

section.projetos > picture a img:hover {
   transform: scale(1.05);
   transition: 0.5s ease-out;
}

section.contato {
    background-color: var(--cor4);
    color: white;
    text-align: center;
    font-size: 2em;
    padding: 2em;
}

section.contato p {
    font-size: 0.8em;
    font-weight: bolder;
    color: var(--cor1);
    padding: 1em;
}

section.contato form {
    font-size: 0.7em;
    text-align: left;
    display: flex;
    max-width: 500px;
    margin: auto;
    flex-direction: column;
}

section.contato button:hover {
    background-color: greenyellow;
}

section.contato form input, section.contato form > textarea, section.contato form > button {
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 0.5em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--cor3);
    color: white;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 5em;
}

footer > .icons { 
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 1em;
}

footer > .icons a {
    width: 30px;
}

@keyframes scrol {
    0% {
        height: 20vh;
    }

    100% {
        height: 80vh;
    }
}

/* Celulares */
@media (max-width:867px) {
    header {
        padding-top: 1.6em;
        padding-inline: 1.6em;
    }

    section.home .texto > h1 {
        font-size: 3em;
        padding-inline: 0.4em;
    }

    section.home .texto > p {
        font-size: 1.1em;
        padding-inline: 1em;
    }

    section.home .texto > .icons {
        margin-left: 1em;
    }

    section.home img {
        padding-top: 5em;
        width: 23em;
    }

    section.sobre .content {
        flex-direction: column-reverse;
    }

    section.sobre .texto > h2 {
        padding-top: 1em;
        font-size: 2.5em;
    }
    
    section.sobre .texto > p {
        font-size: 1em;
        padding-inline: 1em;
        padding-bottom: 4em;
    }

    section.projetos {
        padding: 0.5em;
        font-size: 2em;
    }
    
    section.projetos > h2 {
        padding: 0.5em;
    }
}

/* Tablets */
@media (min-width:767px) and (max-width:1023px){ 
    header {
        padding-inline: 3em;
    }

    section.home > img {
        padding-top: 5em;
        width: 30em;
    }
}